@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior:smooth;
}

#hero .container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta {
	display: inline-block;
	padding: 5px 10px;
    margin: 0;
	color: rgb(49, 85, 55);
	background-color: transparent;
	border: 2px solid #D4D821;
	font-size: 1.5rem;
	margin: 30px 10px;
    border-radius: 24px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

}
.cta:hover{
	background-color:#D4D821;
}

a{
	text-decoration: none;
}



/* Header section */
#logo{
	width: 130px;
}
#header {
	position: fixed ;
	z-index: 1000;
	left: 0 ;
	top: 0;
	width: 100vw;
	height: Auto;
}
#header .header{
	min-height: 8vh;
	background-color: #D4D821;
}
#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
    background-color: #D4D821;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden ;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: rgb(49, 85, 55);
	text-transform: uppercase;
	padding: 20px;
	display: block;
	transition: .3s;
}
#header .nav-list ul a::after{
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)scale(0);
	color:  rgba(54, 94, 60, 0.075);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
	transform: translate(-50%, -50%)scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(255, 255, 255);
}
/*
#header ul li ::before{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(49, 85, 55);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
#header ul li :hover::before{
    width: 100%;
}
*/

#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid rgb(49, 85, 55);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid rgb(49, 85, 55);
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: rgb(49, 85, 55);
	z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: rgb(49, 85, 55) ;
	transition: .3s ease;
	transition-property: top,bottom;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
.image{
	order: 2;
	width: 500px;
	display: flex;
	margin-left: 100px;
}
#hero .container{
	flex-wrap: wrap;
	display: flex;
}
#hero{
	background-color: rgba(255, 230, 0, 0.075);
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	position: relative;
}
h1{
	font-size: 5rem;
}
/*@media (min-width: 400px) {
    h1 {
        font-size: 1.3rem;
    }
	
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 1.9rem;
    }
}
@media (min-width:1000){
	h1{
	font-size: 2.2rem;}
}

@media (min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}
*/
/* End Hero Section */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* End Keyframes */


	

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
	
	
}


/* End  Media Query For Desktop */

/*Hero media*/
@media (max-width:1200px){
	#hero .container{
		flex-direction: column;
		display: flex;
		margin: auto;
		margin-top: 50px;
	}
	#hero .herop {
		padding-top: 100px;
	}
	#hero .image{
		width:300px;
		margin-left: 10px;
		margin-top: 20px;
	}
	.cta {
		padding: 5px 10px;
		margin: 0;
		font-size: 1rem;
		margin: 30px 10px;
		border-radius: 24px;
	}
	#hero h1{
		font-size: 3rem;
	}

}


/*Features*/
#features {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	clip-path: polygon(100% 0, 100% 84%, 73% 94%, 0 100%, 0 21%, 0 0);
    display: flex;
	justify-content:center;
	align-items: center;
	background-color: #D4D821;
	flex-direction: column;

}
#features  .row{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content:center;
	align-items: center;
}
#features .features{
	margin-top: 90px;
	color: white;
	display: flex;
	justify-content: center;
	
}

#features .iconColWrap{
	display:flex;
	justify-content:center;
	align-items: center;
	flex-direction:column;
}
#features .three-col{
	margin: 0px 50px;
}#features .three-col i{
	width: 80px;
	height: 80px;
	margin: 30px ;
	padding: 50px;
	border: 3px solid rgb(49, 85, 55);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: rgb(49, 85, 55);
	transition: .5s;

}
#features .three-col :hover i{
	
	padding: 55px;
	border: 3px solid rgb(255, 255, 255);
	font-size: 3rem;
	color: rgb(255, 255, 255);
}
#features .three-col h2,
#features .three-col p
{
	color: rgb(49, 85, 55);

}
#features .three-col :hover h2,
#features .three-col :hover p{
	color: white;
}

/*features media */
@media (max-width:1200px){
	#features .row{
		display: flex;
		flex-wrap: wrap;
	}
	

	#features .three-col i{
		width: 60px;
		height: 60px;
		font-size: 2rem;
		padding: 0;
		margin: 0;
		
	}
}
/*End features media*/

/*End Features*/
  /*screens*/
#screens {
	width: 100vw;
	height: 100vh;
	background-color: #9EAD44;
	display: flex;
	flex-direction: column;
}
#screens .container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
#screens .h1{
	height: 100%;
	margin-top: 50px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self:center;

}
#screens .sc{
	width: 20%;
	height: 60%;
	margin: auto;
	display: flex;
	background-color: yellow;
	border-radius: 24px;
	justify-content:center;
	align-items: center;
}
  /*End screens*/





